.wrapper{
    background-color: #1d1d1d;
    width: fit-content;
    max-width: 300px;
    min-width: 150px;
    overflow: hidden;
    text-align: left;
}

.dropdownWrapper{
    height: fit-content;
    width: 100%;
    min-width: fit-content;
    max-width: 200px;
    padding: 0.4rem;
    padding-left: 0.7rem;
    padding-right: 3rem;
    background-color: #1d1d1d;
    display: flex;
    cursor: pointer;
    text-align: left;
}

.dropdownExpanse{
    overflow: hidden;
    max-width: 180px;
}

.elementIcon{
    height: 1.1rem;
    max-width: 1.1rem;
    margin-right: 0.7rem;
}

.elementText{
    text-align: left;
    color: white;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 0.84rem;
}

.elementIcon2{
    height: 1.5rem;
    max-width: 1.5rem;
    object-fit: cover;
    padding-right: 0.7rem;
}